auth.json
coinlist.txt
.env
mm_config.txt
coin_config.txt
install_instructions.txt
/data_things/
/__pychache__/
/logs/
dot_test.py
.DS_STORE

profile_results.stats
testing.ipynb
working_feed.py
working_mm.py